* {
	margin:0;
	padding:0;
}

#header {
	height:110px;
	background-color:#9e5210;
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding-left:30px;
	padding-right:50px;
}

#logo {
	height:100px;
	width:100px;
}

#menu {
	position:absolute;
	right:10px;
	display:none;
}

#menu li a {
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:6px;
	background-color:#c26f27;
	border:solid 2px;
	border-color:#5e320c;
	text-decoration:none;
	color:black;
	transition:transform .2s;
}

#menu li a:hover {
	background-color:#db7e30;
}

#menu li {
	padding-bottom:5px;
}

#menu-button {
	width:30px;
	height:30px;
	transition:transform .6s;
}

#menu-button:hover {
	transform:rotate(360deg);
}

#menu-container:hover #menu {
	display:block;
}


#content {
	background-color:#a16e42;
	display:flex;
	flex-direction:column;
	align-items:center;
	padding:15px 0 30px 0;
	gap:10px;
}

#gallery {
	display:grid;
	gap:20px;
	max-width:640px;
	grid-template-columns: repeat(3, auto);
	/*grid-template-rows:(3, auto);*/
}

#gallery img {
	max-height:200px;
	max-width:200px;
	width:100%;
	height:auto;
	cursor:pointer;
	transition:transform .3s;
}

#gallery2 {
	display:grid;
	gap:20px;
	max-width:1090px;
	grid-template-columns: repeat(3, auto);
}

#gallery2 img {
	max-height:350px;
	max-width:350px;
	width:100%;
	height:auto;
	cursor:pointer;
	transition:transform .3s;
}

#gallery img:hover {
	transform:scale(1.3);
}

#gallery2 img:hover {
	transform:scale(1.7);
}

table {
	max-width:1080px;
}

#grzyby-gif {
	max-height:300px;
	max-width:300px;
	height:auto;
	width:100%;
}

#footer {
	display:flex;
	justify-content:center;
	align-items:center;
	height:80px;
	background-color:#35542f;
}

#form form {
	display:flex;
	flex-direction:column;
	align-items:center;
	gap:8px;
}

#form input {
	background-color:#B37C49;
	width:200px;
	height:20px;
	border-radius:10px;
	border-style:solid;
	border-color:#5e320c;
}

#form {
	height:750px;
}

#form h3 {
	text-align:center;
}

#form fieldset {
	border-radius:10px;
	border-color:#5e320c;
	width:300px;
	height:370px;
}

#form textarea {
	background-color:#B37C49;
}

#form #res {
	height:30px;
	transition: .2s;
}

#form #res:hover {
	transform:scale(1.2);
}

#form #sub {
	height:30px;
	transition: .2s;
}

#form #sub:hover {
	transform:scale(1.2);	
}

.content2 {
	height:1400px;
}

#clock {
color:green;
font-family: 'Courier New', Courier, monospace;
font-size:48px;
padding:10px;
border-radius:10px;
border-style:solid;
border-color:darkgreen;
background-color:orange;
width:250px;
text-align:center;
}



